@using SUCSA.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            @using (@Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <h2>修改密码</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        @Html.PasswordFor(m=>m.OldPassword, new { @class = "form-control input-lg", placeholder = "OldPassword" })
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @style = "color:red;" })
                        @Html.ValidationSummary(true, null, new { @style = "color:red;" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", placeholder = "NewPassword" })
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @style = "color:red;" })
                    </div>               
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "ConfirmPassword" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red;" })
                     </div>
                          <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Save">
                            </div>
                        </div>
        </fieldset>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
